page-home {


  .background {
    background-color: whitesmoke;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }

  .scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .toolbar-background{
    background-color: transparent !important;

  }
  .bottom {
    color: black;
  }

}